$lightWeigth: 300;
$regularWeigth: 400;
$mediumWeigth: 500;
$boldWeigth: 700;

$josefinFont: 'Josefin Sans', sans-serif;

$yellow: hsl(48, 100%, 50%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);