*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  font-size: 18px;
}

body {
  height: 3000px;
}

.gridWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 40px;
          column-gap: 40px;
  max-width: 1020px;
  margin: 0 auto;
  padding: 20px 0 60px;
}

.mainWrapper {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 50px 0 60px;
  -ms-grid-column-span: 12;
      grid-column-end: span 12;
}

.headingWrapper {
  color: white;
  position: relative;
}

.headingWrapper:after {
  content: '';
  width: 60px;
  height: 4px;
  background-color: #ffcc00;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  margin-top: 21px;
}

.headingWrapper h1 {
  font-size: 3.2em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.05em;
}

.headingWrapper p {
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.04em;
  margin: 20px 0 34px;
}

.headingWrapper p a {
  text-decoration: none;
  color: black;
  border-bottom: 2px #ffcc00 solid;
  color: white;
  position: relative;
  z-index: 3;
}

.headingWrapper p a:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  background-color: #ffcc00;
  bottom: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.headingWrapper p a:hover:after {
  height: 105%;
}

.headingWrapper p a:hover {
  color: black;
}

nav {
  height: 49px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 14px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav svg:first-of-type:hover {
  fill: #555;
}

nav .loginButton {
  border: none;
  font-family: inherit;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  padding: 8px 10px 4px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

nav .loginButton:hover {
  background-color: #ffcc00;
  cursor: pointer;
}

nav .subscribeButton {
  border: none;
  font-family: inherit;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  letter-spacing: 0.2em;
  font-size: 13px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}

nav .subscribeButton a {
  text-decoration: none;
  color: black;
  color: white;
  z-index: 3;
  width: calc(100% + 40px);
  height: calc(100% + 34px);
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

nav .subscribeButton a:hover {
  color: black;
}

nav .menuButton {
  border: none;
  font-family: inherit;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  padding-top: 8px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 2px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

nav .menuButton:hover {
  background-color: #ffcc00;
  color: #555;
  fill: #555;
}

nav .menuButton span {
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-top: 0;
}

nav .menuButton svg {
  margin-left: 5px;
  margin-bottom: 2px;
}

nav img {
  height: 32px;
  width: 109px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
}

nav li {
  list-style: none;
  margin-right: 16px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: transparent;
}

nav li:last-of-type {
  margin-right: 0;
  font-weight: 500;
}

nav li:nth-child(4) {
  background-color: black;
  padding: 17px 20px;
  margin-bottom: 2px;
  position: relative;
  z-index: 2;
}

nav li:nth-child(4):after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #ffcc00;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

nav li:nth-child(4):hover:after {
  width: 100%;
}

nav .renewAnchor {
  text-decoration: none;
  color: black;
  color: black;
  border-bottom: 2px #ffcc00 solid;
  font-size: 14px;
  position: relative;
  z-index: 3;
}

nav .renewAnchor:after {
  content: '';
  position: absolute;
  background-color: #ffcc00;
  height: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: 0.125s ease-in;
  transition: 0.125s ease-in;
}

nav .renewAnchor:hover:after {
  height: 120%;
}
/*# sourceMappingURL=style.css.map */